.appCanvas {
  position: fixed;
  width: 100vw;
  height: 100vh;
  left: 0;
  /* top: 330px; */
  /* z-index: 1000; */
  border: none;
  /* pointer-events: none; */
}
/* .appCanvas:focus {
  outline: none;
} */
